{% extends "allianceauth/base-bs5.html" %}
{% load i18n %}
{% load static %}
{% load navactive %}
{% block extra_css %}

    {% if NIGHT_MODE %}
        <link rel="stylesheet" type="text/css" href="{% static 'buybackprogram/css/style_dark.css' %}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'buybackprogram/css/style_light.css' %}">
    {% endif %}


{% endblock extra_css %}

{% block page_title %}
    {% translate "Buyback Program" %}
{% endblock page_title %}

{% block header_nav_collapse_left %}
    {% include "buybackprogram/menu.html" %}
{% endblock %}

{% block header_nav_brand %}
    {% translate "Buyback Program" %}
{% endblock %}

{% if perms.buybackprogram.manage_programs %}
    {% block header_nav_collapse_right %}
        {% include "buybackprogram/menu-management.html" %}
    {% endblock %}
{% endif %}

{% block content %}
    <div class="allianceauth-buyback-program-plugin">
        <div class="card">
            {% block details %}{% endblock %}
        </div>
    </div>
{% endblock %}
