{% extends "allianceauth/base-bs5.html" %}
{% load i18n %}
{% load static %}
{% load navactive %}
{% block extra_css %}
{% endblock extra_css %}

{% block page_title %}
    {% translate "Buyback Program" %}
{% endblock page_title %}

{% block header_nav_brand %}
    {% translate "Buyback Program" %}
{% endblock header_nav_brand %}

{% block header_nav_collapse_left %}
    {% include "buybackprogram/menu.html" %}
{% endblock %}

{% if perms.buybackprogram.manage_programs %}
    {% block header_nav_collapse_right %}
        {% include "buybackprogram/menu-management.html" %}
    {% endblock %}
{% endif %}

{% block content %}
    <div class="allianceauth-buyback-program-plugin">
        <div class="col-lg-12 container">
            <h1 class="page-header text-center">{% translate "Buyback Program" %}</h1>
            {% block details %}{% endblock %}
        </div>
    </div>
{% endblock %}
